@import './base.css';


.efcf7db-page{
    padding: 20px;
}

/* Utility classes */

.display-inline-block{ display: inline-block !important;}
.ml-auto{ margin-left: auto !important;}
.my-10px{
  margin-top: 10px !important; 
  margin-bottom: 10px !important;
}
.ml-15px{margin-left: 15px !important;}
.maxwidth-100{min-width: 60px;}

.minwidth-60{min-width: 60px;}
.minwidth-100{min-width: 100px;}
.minwidth-150{min-width: 150px;}
.minwidth-200{min-width: 200px;}

.display-none{ display: none !important;}
.efcf7db_table th{
    font-weight: 400;
}
/* Page header css */
.ecfdb-page-header{
  display: flex;
  align-items:flex-end;
  margin-bottom:10px;
  flex-wrap: wrap;
}

/* table css */
.ecfdb-table-container {
    overflow-x: auto;
    border: 1px solid #c3c4c7 !important;
  }
  
  .ecfdb-table {
    width: 100% !important;
    box-shadow: 0 1px 4px rgba(73, 73, 73, 0.04);
    border-collapse: collapse;
    background-color: white;
  }
  
  .ecfdb-table thead,
  tbody tr:not(:last-child) {
    border-bottom: 1px solid #c3c4c7 !important;
  }
  
  .ecfdb-table th,
  td {
    text-align: left;
    padding: 15px;
  }